<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite parallel="tests" name="Suite">
	<listeners>
		<listener class-name="Shop.TestComponents.Listeners"></listener>
	</listeners>
	<test thread-count="5" name="CustomerCheckout">
		<classes>
			<class name="Shop.Tests.CustomerCheckout" />
		</classes>
	</test> <!-- Test -->
	<test thread-count="5" name="GuestCheckout">
		<classes>
			<class name="Shop.Tests.GuestCheckout" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
